.create-play-page-container
  .create-play-menu
    .side-selection-box
      %span Offensive or Defensive Play?
      %ul.side-button-container
        %li
          %button{{ng_click:"basicOffense()"}} Offense
        %li
          %button{{ng_click:"getAllPlays()"}} Defense
  %svg.create-play-field
