%div{ng_controller: 'HomeCtrl as home', id: "home-page-container"}
  %h1#title
    {{name}}
  #button-container
    %button#learn 
      %a{href: "#/learn"} {{learn}}
    %button#play 
      %a{href: "#/play"} {{play}}
