$page-height: 850px;

.create-play-menu {
  width: 20%;
  min-height: $page-height;
  background-color: #5eafdb;
  padding-top: 20px;
  float: left;

  .side-selection-box {
    background-color: white;
    min-height: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    width: 80%;

    .side-button-container {
      list-style-type: none;
      display: inline-flex;
      padding-left: 0px;
      margin: 0px;

      button {
        width: 9.5em;
        height: 2.6em;
        margin: 1em;
        font-size: 0.6em;
      }
    }
  }
}

.create-play-field {
  width: 1500px;;
  min-height: $page-height;
  background-color: #1d9531;
  float: right;
}
