// Styling for the main page

#home-page-container {

  #title {
    font-size: 3.0em;
    margin: 0;
    margin-left: 20%;
    margin-top: 10%;
    font-family: 'Roboto Slab', serif;
  }

  #button-container {
    margin-left: 2%;
    margin-top: 2%;

    button {
      margin-right: 2%;
      width: 10.0em;
      height: 2.4em;
      font-size: 2.0em;
      background-color: rgba(0, 133, 56, 0.55);
      color: white;
      font-family: 'Roboto Slab', serif;
      border: 0px solid white;
      outline: none;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  #notification {
    margin-left: 10%;
    margin-top: 1%;
    font-family: 'Roboto Slab', serif;  
  }
}

