// Styling for the main page

#home-page-container {

  #title {
    font-size: 3.0em;
    text-align: center;
    margin: 0;
  }

  #button-container {
    text-align: center;
  }

  button {
    width: 10.0em;
    height: 2.4em;
    font-size: 2.0em;
    background-color: rgba(46, 204, 113, 1.0);
    color: white;
    border: 1px solid white;
  }
}

