#play-page-container {
  position: relative;
  overflow: hidden;
}

#play-page-container:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  opacity: 1;
  background-image: url('/assets/footballfield.svg.png');
  background-repeat: no-repeat;
  background-size: 200em;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: translateX(-2em) rotate(90deg);
}

.clicked-button {
  background-color: rgba(0, 255, 255, 1);
}

#selection-box {
  background-color: rgba(255, 255, 255, 1);
  font-family: 'Roboto Slab', serif;
  padding-top: 20px;
  text-align: center;
  h2 {
    margin: 0px;
  }

  ul {
  display: block;
  padding-left: 0px;
  margin-bottom: 2.2em;

    li.target {
      list-style-type: none;
      $side-margin: 2em;
      margin-top: $side-margin;
      margin-bottom: $side-margin;
    }

    button {
      width: 5.2em;
      height: 2.3em;
      background-color: rgba(255, 255, 255, 1);
      border: 2px solid black;
      outline: none;
      font-family: 'Roboto Slab', serif;
      font-size: 12px;
      padding: 0.1em;
      moz-border-radius: 10px 10px 10px 10px;
      webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
    }

    li.action {
      list-style-type: none;
      $side-margin: 2em;
      margin-top: $side-margin;
      margin-bottom: $side-margin;

      button {
        width: 6em;
        height: 3em;
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid black;
        outline: none;
        font-family: 'Roboto Slab', serif;
        font-size: 12px;
        padding: 0.1em;
        moz-border-radius: 11px 11px 11px 11px;
        webkit-border-radius: 11px 11px 11px 11px;
        border-radius: 11px 11px 11px 11px;
      }
    }
  }
}


