<!DOCTYPE html>
<html lang="en" ng-app="omaha">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>Omaha</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="angular-container">
    <div class="page {{ pageClass }}" ng-view>
      
    </div>
  </div> 
</html>
